<h1><%= @restaurant.name.capitalize %></h1>
<p>Address: <%= @restaurant.address.capitalize %></p>
<p>Type: <%=  @restaurant.category.capitalize %></p>
<p><%=  @restaurant.phone_number %></p>

<ul>
  <% @restaurant.reviews.each do |review|%>
<li>Rating: <%= review.rating %> - <%= review.content %></li>
  <% end %>

  </ul>


<%= link_to "<< Index", restaurants_path %> |
<%= link_to "Leave A Review", new_restaurant_review_path(@restaurant) %>
